@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
	font-family: "Staatliches";
}

a:hover {
	color: red;
	}

a:link {
  text-decoration: none;
}


#top {
	display: flex;
	size: 10px;
	line-height: 0.2em;
	padding-top: 10px;
	padding-left: 20px;
}

#top h1{
	padding-right:300px;
}

#top input {
	font-family: "Staatliches";
	font-size: 30px;
	width: 900px;
	text-align: center;
	position: relative;

}

#top h3 {
	font-family: "Staatliches";
	font-size: 28px;
	padding-left: 150px;

}
#top h3:hover{
	color: red
}


#center{
	display: flex;
	position: absolute;
    top: 55%;
    left: 30%;
}

#center ul{
	list-style-type: none;
  height: 100%;
  overflow: auto;
  bottom: 2px;

}

.projects li{
	text-align: center;
}


.absolute h3{
	bottom: 2%
}


#bottom{
	position: absolute;
    bottom: 0px;
    font-size:25px;
}


#bottom ul {
	display:flex;
	list-style-type: none;
}

#bottom li {
  text-align: center;
  padding-left: 30px;
}

#bottom .left{
  	position: relative;
	padding-right:250px;
	font-color: black;
}


#bottom .right{
  	position: relative;
	padding-left:250px;
}

#bottom li:hover{
	color: red
}
