body{
	font-family:Sathu;
	color:white;
	background:black;

}

input{
	height:40px;
	width:30%;
	border:none;
	outline:none;
	border-radius:50px;
	text-align: center;
	font-family:Sathu;
	font-size: 25px;
	margin:20px;
}

input[type="range"]{
	-webkit-appearance:none;
	width:30%;
	height:10px;
	background:white;
	border-radius:50px;
/*		color:white;*/
	outline:none;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none;
	height:50px;
	width:50px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

script{
	width: 50px;
}

.sliders{
	width: 80%;
	height:100vh;
	background: transparent;
	border-radius: 10px;
	display:grid;
	align-items: center;
	color:white;
	left:0px;
	text-align: center;
	margin-left:-350px;
	margin-top:-100px;
}

#sliders{
	margin-top:-180px;
}

h1{
	font-size: 40px;
	margin-top:100px;
}

button{
	/*margin-top:100px;*/
	background-color: black;
	color: #FFFFFF;
	border: 5px solid #000000;
	border-radius: 40px;
	font-family: "Quicksand", sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 15px 30px;
	margin-left: 10px;
}


button:hover{
	background-color: white;
	color:#000000;
  	cursor: pointer;

}