

h1{
	color: black;
	position:absolute;
	left:550px;
	top:50px;
	font-size: 100px;
}

canvas {
	position:absolute;
	left:500px;
	top:250px;
}

img{
	position:absolute;
	left:500px;
	top:250px;
}

/* referencing from "matewka" from stackoverflow"*/
/*#land:hover:after{
	content: url(img/neverland.jpg);
	display: block;

}

*/

.container:hover .overlay {
  opacity: 100;
}