
body{
	background-color:#82cbff;
}

h1{
	color: black;
	position:absolute;
	left:550px;
	top:-30px;
	font-size: 50px;
}

#left{
	position: absolute;
	left:500px;
	top:125px;
	color: #295999;
}

canvas {
	position:absolute;
	left:300px;
	top:70px;

}

img{
	position:absolute;
	left:300px;
	top:70px;
}

button{
	position:absolute;
	left:0px;
	top:0px;
	width:19.6vw;
	height:100vh;
	font-size: 30px;
	border: none;
	background-color: #295999;
	color: white;

}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  cursor: pointer;
}