@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&family=UnifrakturMaguntia&display=swap');

body {
    margin: 0;
    padding: 0;
}

.top{
	display: flex;
	flex-flow: row nowrap;
	height: 60px;
	width: 100%;
	align-items: center;
	background-color: #000000;
	white-space: nowrap;
	overflow: hidden;
}

.top a:link {
	color: #FFFFFF;
	text-decoration: none;}
.top a:visited {color: #FFFFFF;}
.top a:hover {color: #FFFFFF;}
.top a:active {color: #FFFFFF;}

.topLeft{
	padding-left: 10px;
}

.topLeft img{
	width: 20px;
	height: 20px;
	padding-left: 5px;
}

#search input, #search img{
	vertical-align: middle;
}

#search input{
	width: 100px;
}
#search{
	background-color:#2A2A2A;
	color:#FFFFFF;
	border-color: #666666;
	border-width: 2px;
	border-radius: 3px;
	height: 35px;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	width: 150px;
}

 #sections{
 	background-color:#2A2A2A;
	color:#FFFFFF;
	border-color: #666666;
	border-width: 2px;
	border-radius: 3px;
	height: 35px;
	width:90px;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
 }

.mainMenu{
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-size: 13px;
	list-style-type: none;
	padding-right: 70px;
}

.mainMenu li{
	display: inline;
	padding-left: 11px;
}

#signIn{
	background-color:#2A2A2A;
	color:#FFFFFF;
	border-color: #666666;
	border-width: 2px;
	border-radius: 3px;
	height: 35px;
	width:90px;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
}

#oneYear{
	background-color:#1955A5;
	color:#FFFFFF;
	border-color: #3D73D5;
	border-width: 1px;
	border-radius: 3px;
	height: 35px;
	width:160px;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.topRight{
	align-self: center flex-end;
}

#title {
	text-align: center;
	padding-bottom: 20px;
}

#title h1{
	font-family: "UnifrakturMaguntia", cursive;
	font-size: 80px;
	line-height: 20px;
}

#title h2 {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid lightgrey; 
	line-height: 0.1em;
	margin: 10px 0px 80px;
} 

#title h2 span { 
    background:#ffffff; 
    padding:0 5px; 
    font-family: "Georgia", serif;
    font-weight: 100;
	font-size: 17px;
	color:dimgrey;
	font-style: italic;
}

.news {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	align-content: flex-start;
	width: 70%;
	margin: auto;
	color: grey;
}

.news a:link {
	color: #000000;
	text-decoration: none;}
.news a:visited {color: #000000;}
.news a:hover {color: #1955A5;}
.news a:active {color: #000000;}

.heading1{
	margin-top: -5px;
	font-family: "Judson",serif; /*This font is actually supposed to be Miller but I can't buy it*/
	font-size: 38px;
	padding-top: 0px;
	margin-bottom: -8px;
}

.heading2{
	margin-top: -5px;
	font-family: "Judson",serif; /*This font is actually supposed to be Miller but I can't buy it*/
	font-size: 22px;
	padding-top: 0px;
	margin-bottom: -8px;
}

.heading3{
	margin-top: -5px;
	font-family: "Judson",serif; /*This font is actually supposed to be Miller but I can't buy it*/
	font-size: 18px;
	padding-top: 0px;
	margin-bottom: -8px;
}

.heading4{
	margin-top: -5px;
	font-family: "Judson",serif; /*This font is actually supposed to be Miller but I can't buy it*/
	font-size: 13px;
	padding-top: 0px;
	margin-bottom: -8px;
}

.medium{
	font-family:"Arial", sans-serif;
	font-size: 13px;
	margin-bottom: -3px;
}

.small{
	font-family:"Arial", sans-serif;
	font-size: 11px;
}

.small a:link {
	color: grey;
	text-decoration: none;}
.small a:visited {color: grey;}
.small a:hover {color: #1955A5;}
.small a:active {color: grey;}

.bullet{
	margin-top: -20px;
	color:grey;
	font-family: "Arial", sans-serif;
	font-size: 13px;
}

.boxes{
	margin-left: 9px;
	margin-right: 8px;
	padding-right: 9px;
	margin-top: 8px;
	padding-top: 9px;
}

#column1{
	display: flex;
	flex-direction: column;
	width: 55%;
	border-right: 1px solid lightgrey;
}

#shooting{
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

#developing{
	background-color:#FF0000;
	color:#FFFFFF;
	border: 0px;
	border-radius: 15px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100px;
	height: 22px;
	margin-bottom: 10px;
}

#text1{
	display: flex;
	flex-flow: column wrap;
	width: 60%;
}

#img1{
	display: flex;
	flex-flow: column wrap;
	width: 40%;
}

#img1 img{
	width: 100%;
}

#row2{
	display: flex;
	flex-direction: row;
	width: 100%;
	border-right: 1px solid lightgrey;
}

#biden{
	display: flex;
	flex-direction: column;
	width: 35%;
	border-right: 1px solid lightgrey;
}

#latino{
	display: flex;
	flex-direction: column;
	width: 65%;
}

#img2{
	display: flex;
	flex-flow: column wrap;
	text-align: center;
}

#img2 img{
	width: 100%;
}

#latino #magazine{
	margin-top: 0px;
	text-align: center;
	font-weight: bolder;
	font-size: 12px;
	margin-bottom: 5px;
}

#latino #latinoHeading{
	margin-top: 0px;
	font-family: "Judson",serif; /*This font is actually supposed to be Miller but I can't buy it*/
	font-size: 28px;
	margin-bottom: -8px;
}

#column2{
	display: flex;
	flex-direction: column;
	width: 20%;
	border-right: 1px solid lightgrey;
}

#virusDev{
	display: flex;
	flex-direction: column;
	width: 89%;
	border-bottom: 1px solid lightgrey;
}

#virusHeading{
	margin-top: -2px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: -4px;
}

#virusDev p{
	font-family: "Georgia", serif;
	font-style: italic;
	font-size: 12px;
}

#virusDev ul{
	margin-left: -25px;
}

#column3{
	display: flex;
	flex-direction: column;
	width: 25%;
	border-right: 1px solid lightgrey;
	color: grey;
}

#opinionsHeading{
	font-family: "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin-left: 9px;
	margin-bottom: 8px;
}

#these{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	border-bottom: 1px solid lightgrey;
}

#text2{
	margin-top: -5px;
	display: flex;
	flex-flow: column wrap;
	width: 60%;
	margin-bottom: 5px;
}

#img3{
	margin-top: -5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin-bottom: 5px;
}

#img3 img{
	width: 70px;
	height: 70px;
}

#how{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	border-bottom: 1px solid lightgrey;
}

#text3{
	margin-top: -5px;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-bottom: 5px;
}

#img4{
	margin-top: -5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	margin-bottom: 5px;
}

#img4 img{
	width: 70px;
	height: 70px;
}

#chaos{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	border-bottom: 1px solid lightgrey;
}

#text4{
	margin-top: -5px;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-bottom: 5px;
}

#img5{
	margin-top: -5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	margin-bottom: 5px;
}

#img5 img{
	width: 70px;
	height: 70px;
}